/*
   Add shadow on hover.

   Performant box-shadow animation pattern from
   http://tobiasahlin.com/blog/how-to-animate-box-shadow/
*/

hover-elevation(size = 8, speed = .25s, speed-hover = .1s, speed-active = 0s, shadow = null)
  cursor pointer
  position relative
  &::after
    content ''
    if shadow
      box-shadow var(('--elevation-%s' % size)), shadow
    else
      box-shadow var(('--elevation-%s' % size))
    border-radius inherit
    opacity 0
    position absolute
    trbl 0 0 0 0
    z-index -1
    transition opacity speed $ease-out
  &:hover::after,
  &:focus::after
    opacity 1
    transition-duration speed-hover
  &:active::after
    opacity 0
    transition-duration speed-active
