/* Can combine this with overflow-hidden to make background images grow on hover
 * even if you are using background-size: cover */

hover-grow(scale-hover = 1.05, scale-active = .9, speed = .25s)
  -moz-osx-font-smoothing grayscale
  backface-visibility hidden
  transform translateZ(0)
  transition transform speed ease-out

  &:hover,
  &:focus
    transform scale(scale-hover)

  &:active
    transform scale(scale-active)

hover-raise(raise-hover = -2px, raise-active = 0, speed-active = 0s)
  &:hover,
  &:focus
    transform translateY(raise-hover)

  &:active
    transform translateY(raise-active)
    transition-duration speed-active
