$max-width-1 = 1rem
$max-width-2 = 2rem
$max-width-3 = 4rem
$max-width-4 = 8rem
$max-width-5 = 16rem
$max-width-6 = 24rem
$max-width-7 = 32rem
$max-width-8 = 48rem
$max-width-9 = 64rem
$max-width-10 = 80rem
$max-width-11 = 96rem
