$spacing-1 = .25rem
$spacing-2 = .375rem
$spacing-3 = .5rem
$spacing-4 = .75rem
$spacing-5 = 1rem
$spacing-6 = 1.5rem
$spacing-7 = 2rem
$spacing-8 = 3rem
$spacing-9 = 4rem
$spacing-10 = 6rem
$spacing-11 = 8rem
$spacing-12 = 12rem
$spacing-13 = 16rem
