// Measure widths (max-width for text)
$measure-4 = 34em
$measure-3 = 30em
$measure-2 = 24em
$measure-1 = 20em

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

truncate()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
