/*

Steps: -1 ~ 7

Headings (bold): -1 ~ 7
Body copy: -1 ~ 3
Overline: -1 ~ 1
Code: -1 ~ 7

usage:
.section-title
  font-size $font-size-step['1']

*/

// RFS config
// $rfs-two-dimensional = true
$rfs-base-value = 16
$rfs-factor = 25
$rfs-breakpoint = $breakpoints[xl]

// Modular typography scale – perfect fourth ratio (1.333)
$font-size-step = {
  '-1': 0.75rem,
  '0': 1rem,
  '1': 1.333rem,
  '2': 1.777rem,
  '3': 2.369rem,
  '4': 3.157rem,
  '5': 4.209rem,
  '6': 5.61rem,
  '7': 7.478rem
}


// Test mixins

title(size) {
  font-size 'var(--r-font-size-%s)' % size
  line-height $line-height-solid
  font-weight 'var(--font-weight-b-%s)' % size
  letter-spacing 'var(--letter-spacing-b-%s)' % size
}

paragraph(size) {
  font-size 'var(--r-font-size-%s)' % size
  line-height $line-height-copy
  font-weight 'var(--font-weight-n-%s)' % size
  letter-spacing 'var(--letter-spacing-n-%s)' % size
}

overline(size) {
  font-size 'var(--r-font-size-%s)' % size
  line-height $line-height-title
  font-weight 500
  letter-spacing 0.08em
  text-transform uppercase
}
