.display-05
.display-06
.display-07
.display-08
.display-09
.display-10
.display-11
  font-weight 900

.display-05
  font-size 2.5rem
  line-height 1.2
  letter-spacing -0.01em

.display-06
  font-size 3rem
  line-height 1.166
  letter-spacing -0.015em

.display-07
  font-size 3.625rem
  line-height 1.172
  letter-spacing -0.02em

.display-08
  font-size 4.25rem
  line-height 1.176
  letter-spacing -0.02em

.display-09
  font-size 5.125rem
  line-height 1.121
  letter-spacing -0.025em

.display-10
  font-size 6.25rem
  line-height 1.12
  letter-spacing -0.03em

.display-11
  font-size 7.375rem
  line-height 1.084
  letter-spacing -0.035em

@media screen and (max-width: 1024px)
  .display-07
    font-size 2.5rem
    line-height 1.2
    letter-spacing -0.01em

  .display-09
    font-size 3.625rem
    line-height 1.172
    letter-spacing -0.02em

  .display-10
    font-size 4.25rem
    line-height 1.176

@media screen and (max-width: 640px)
  .display-09
    font-size 2.5rem
    line-height 1.2
    letter-spacing -0.01em

  .display-10
    font-size 3rem
    line-height 1.166