/*

   BACKGROUND SIZE
   Docs: http://tachyons.io/docs/themes/background-size/

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/

.cover
  background-size cover!important

.contain
  background-size contain!important

@media $breakpoint-medium
  .cover-m-up
    background-size cover!important
  .contain-m-up
    background-size contain!important

@media $breakpoint-medium-only
  .cover-m
    background-size cover!important
  .contain-m
    background-size contain!important

@media $breakpoint-large
  .cover-l-up
    background-size cover!important
  .contain-l-up
    background-size contain!important
