/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

.bw0
  border-width 0
.bw1
  border-width .125rem
.bw2
  border-width .25rem
.bw3
  border-width .5rem
.bw4
  border-width 1rem
.bw5
  border-width 2rem
.bt-0
  border-top-width 0
.br-0
  border-right-width 0
.bb-0
  border-bottom-width 0
.bl-0
  border-left-width 0

@media $breakpoint-medium
  .bw0-m-up
    border-width 0
  .bw1-m-up
    border-width .125rem
  .bw2-m-up
    border-width .25rem
  .bw3-m-up
    border-width .5rem
  .bw4-m-up
    border-width 1rem
  .bw5-m-up
    border-width 2rem
  .bt-0-m-up
    border-top-width 0
  .br-0-m-up
    border-right-width 0
  .bb-0-m-up
    border-bottom-width 0
  .bl-0-m-up
    border-left-width 0

@media $breakpoint-medium-only
  .bw0-m
    border-width 0
  .bw1-m
    border-width .125rem
  .bw2-m
    border-width .25rem
  .bw3-m
    border-width .5rem
  .bw4-m
    border-width 1rem
  .bw5-m
    border-width 2rem
  .bt-0-m
    border-top-width 0
  .br-0-m
    border-right-width 0
  .bb-0-m
    border-bottom-width 0
  .bl-0-m
    border-left-width 0

@media $breakpoint-large
  .bw0-l-up
    border-width 0
  .bw1-l-up
    border-width .125rem
  .bw2-l-up
    border-width .25rem
  .bw3-l-up
    border-width .5rem
  .bw4-l-up
    border-width 1rem
  .bw5-l-up
    border-width 2rem
  .bt-0-l-up
    border-top-width 0
  .br-0-l-up
    border-right-width 0
  .bb-0-l-up
    border-bottom-width 0
  .bl-0-l-up
    border-left-width 0
