/* Variables */

:root
  $border = 0px 0px 1px rgba(0, 0, 0, 0.04)
  // Elevation styles
  --elevation-1: $border, 0px 0.5px 3px rgba(0, 0, 0, 0.05), 0px 1.25px 6px rgba(0, 3, 66, 0.06)
  --elevation-1-ambient: 0px 1.25px 6px rgba(0, 3, 66, 0.06)
  --elevation-4: $border, 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 5px 11px rgba(0, 3, 66, 0.07)
  --elevation-4-ambient: 0px 5px 11px rgba(0, 3, 66, 0.07)
  --elevation-8: $border, 0px 4px 8px rgba(0, 0, 0, 0.03), 0px 10px 22px rgba(0, 3, 66, 0.08)
  --elevation-8-ambient: 0px 10px 22px rgba(0, 3, 66, 0.08)
  --elevation-12: $border, 0px 6px 12px rgba(0, 0, 0, 0.02), 0px 15px 33px rgba(0, 3, 66, 0.09)
  --elevation-12-ambient: 0px 15px 33px rgba(0, 3, 66, 0.09)
  --elevation-16: $border, 0px 8px 16px rgba(0, 0, 0, 0.01), 0px 20px 44px rgba(0, 3, 66, 0.10)
  --elevation-16-ambient: 0px 20px 44px rgba(0, 3, 66, 0.10)
  --elevation-24: $border, 0px 30px 66px rgba(0, 3, 66, 0.12)
  --elevation-24-ambient: 0px 30px 66px rgba(0, 3, 66, 0.12)
