/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  --black #000
  --gray-600 #989BB9
  --gray-800 #CFD1E7
  --white #FFFFFF

  --transparent transparent

  --primary-900 #CCD1FF

  --link #40b3ff
