:root
  --white #FFFFFF
  --link #40B3FF
  
  
// Font-sizes
$step-11-fs = 7.375rem
$step-10-fs = 6.25rem
$step-9-fs  = 5.125rem
$step-8-fs  = 4.25rem
$step-7-fs  = 3.625rem
$step-6-fs  = 3rem
$step-5-fs  = 2.5rem
$step-4-fs  = 2rem
$step-3-fs  = 1.75rem
$step-2-fs  = 1.4375rem
$step-1-fs  = 1.1875rem
$step-0-fs  = 1rem
$step--1-fs = 0.8125rem

// Paragraph line-heights
$step-4-lh-paragraph  = 1.25
$step-3-lh-paragraph  = 1.285
$step-2-lh-paragraph  = 1.217
$step-1-lh-paragraph  = 1.263
$step-0-lh-paragraph  = 1.375
$step--1-lh-paragraph = 1.384

// Heading line-heights
$step-11-lh-heading = 1.084
$step-10-lh-heading = 1.12
$step-9-lh-heading  = 1.121
$step-8-lh-heading  = 1.176
$step-7-lh-heading  = 1.172
$step-6-lh-heading  = 1.166
$step-5-lh-heading  = 1.2
$step-4-lh-heading  = 1.25
$step-3-lh-heading  = 1.285
$step-2-lh-heading  = 1.217
$step-1-lh-heading  = 1.263
$step-0-lh-heading  = 1.375
$step--1-lh-heading = 1.384

// Regular weights
$step-5-fw-regular  = 260
$step-4-fw-regular  = 280
$step-3-fw-regular  = 300
$step-2-fw-regular  = 320
$step-1-fw-regular  = 340
$step-0-fw-regular  = 360
$step--1-fw-regular = 380

// Bold weights
$step-7-fw-bold  = 700
$step-6-fw-bold  = 700
$step-5-fw-bold  = 750
$step-4-fw-bold  = 700
$step-3-fw-bold  = 700
$step-2-fw-bold  = 700
$step-1-fw-bold  = 700
$step-0-fw-bold  = 700
$step--1-fw-bold = 700

// Heavy weights
$step-11-fw-heavy = 700
$step-10-fw-heavy = 700
$step-9-fw-heavy  = 700
$step-8-fw-heavy  = 700
$step-7-fw-heavy  = 700
$step-6-fw-heavy  = 700
$step-5-fw-heavy  = 700

// Regular letter-spacing
$step-5-ls-regular  = -0.025em
$step-4-ls-regular  = -0.02em
$step-3-ls-regular  = -0.015em
$step-2-ls-regular  = -0.01em
$step-1-ls-regular  = -0.005em
$step-0-ls-regular  = 0
$step--1-ls-regular = 0.001em

// Bold letter-spacing
$step-7-ls-bold  = -0.03em
$step-6-ls-bold  = -0.035em
$step-5-ls-bold  = -0.03em
$step-4-ls-bold  = -0.025em
$step-3-ls-bold  = -0.02em
$step-2-ls-bold  = -0.01em
$step-1-ls-bold  = -0.005em
$step-0-ls-bold  = 0
$step--1-ls-bold = 0

// Heavy letter-spacing
$step-11-ls-heavy = -0.035em
$step-10-ls-heavy = -0.03em
$step-9-ls-heavy  = -0.025em
$step-8-ls-heavy  = -0.02em
$step-7-ls-heavy  = -0.02em
$step-6-ls-heavy  = -0.015em
$step-5-ls-heavy  = -0.01em
