/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  --black #000
  --gray-50 #030419
  --gray-400 #616489
  --gray-600 #989BB9
  --gray-800 #CFD1E7
  --gray-900 #ECEDF7
  --trans-gray-400 rgba(0, 5, 66, 0.621)
  --white #FFFFFF
  --white-700 rgba(255, 255, 255, 0.75)
  --white-500 rgba(255, 255, 255, 0.5)
  --white-300 rgba(255, 255, 255, 0.33)

  --transparent transparent

  --primary-900 #CCD1FF

  --link #40b3ff
