.tm-section-container
  padding-left var(--spacing-7)
  padding-right var(--spacing-7)

@media $breakpoint-medium
  .tm-section-container
    padding-left var(--spacing-8)
    padding-right var(--spacing-8)

@media $breakpoint-large
  .tm-section-container
    padding-left var(--spacing-9)
    padding-right var(--spacing-9)

@media $breakpoint-xl
  .tm-section-container
    padding-left var(--spacing-10)
    padding-right var(--spacing-10)

@media $breakpoint-xxl
  .tm-section-container
    padding-left var(--spacing-11)
    padding-right var(--spacing-11)
