/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    t-row          = table-row
    t-columm       = table-column
    t-column-group = table-column-group

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

.dn
  display none

.di
  display inline

.db
  display block

.dib
  display inline-block

.dit
  display inline-table

.dt
  display table

.dtc
  display table-cell

.dt-row
  display table-row

.dt-row-group
  display table-row-group

.dt-column
  display table-column

.dt-column-group
  display table-column-group

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed
  table-layout fixed
  width 100%

@media $breakpoint-medium
  .dn-m-up
    display none
  .di-m-up
    display inline
  .db-m-up
    display block
  .dib-m-up
    display inline-block
  .dit-m-up
    display inline-table
  .dt-m-up
    display table
  .dtc-m-up
    display table-cell
  .dt-row-m-up
    display table-row
  .dt-row-group-m-up
    display table-row-group
  .dt-column-m-up
    display table-column
  .dt-column-group-m-up
    display table-column-group
  .dt--fixed-m-up
    table-layout fixed
    width 100%

@media $breakpoint-medium-only
  .dn-m
    display none
  .di-m
    display inline
  .db-m
    display block
  .dib-m
    display inline-block
  .dit-m
    display inline-table
  .dt-m
    display table
  .dtc-m
    display table-cell
  .dt-row-m
    display table-row
  .dt-row-group-m
    display table-row-group
  .dt-column-m
    display table-column
  .dt-column-group-m
    display table-column-group
  .dt--fixed-m
    table-layout fixed
    width 100%

@media $breakpoint-large
  .dn-l-up
    display none
  .di-l-up
    display inline
  .db-l-up
    display block
  .dib-l-up
    display inline-block
  .dit-l-up
    display inline-table
  .dt-l-up
    display table
  .dtc-l-up
    display table-cell
  .dt-row-l-up
    display table-row
  .dt-row-group-l-up
    display table-row-group
  .dt-column-l-up
    display table-column
  .dt-column-group-l-up
    display table-column-group
  .dt--fixed-l-up
    table-layout fixed
    width 100%
