:root
  for size in -1...8
    rfs((690 + size * 30), ('--font-weight-b-%s' % size))
    if size <= 3
      rfs((356 - size * 24), ('--font-weight-n-%s' % size))

/*

   FONT WEIGHT

*/

// Note: these values are often overridden when combined with a .tm-rf* class
.tm-normal
  font-weight $fw-base
.tm-bold
  font-weight $fw-bold
