//  This doesn't seem to be working with RFS?
// TODO: remove these once we have the responsive font-weight classes below
:root
  for size in -1...8
    rfs((690 + size * 30), ('--font-weight-b-%s' % size))
    if size <= 3
      rfs((356 - size * 24), ('--font-weight-n-%s' % size))

/*

   FONT WEIGHT

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

// TODO: convert these to responsive values with calc() + vw
.tm-normal
  font-weight $fw-base
.tm-bold
  font-weight $fw-bold

// TODO: remove these once we have the responsive font-weight classes
@media $breakpoint-medium
  .tm-normal-m-up
    font-weight normal
  .tm-bold-m-up
    font-weight bold

@media $breakpoint-medium-only
  .tm-normal-m
    font-weight normal
  .tm-bold-m
    font-weight bold

@media $breakpoint-large
  .tm-normal-l-up
    font-weight normal
  .tm-bold-l-up
    font-weight bold
