/*

   FORMS

*/

// Resets (might need more testing)
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea
  appearance none
  &::-moz-focus-inner
    border 0
    padding 0
