/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.link
  cursor pointer
  text-decoration none
  transition all .12s ease-out

.link:link,
.link:visited
  transition all .12s ease-out

.link:hover
  transition all .12s ease-out, opacity .4s ease-out

.link:active
  opacity 0.7
  transition-duration 0s

.link:focus
  transition all .12s ease-out
  outline 1px dotted currentColor
