/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale
     10 = 10th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

/* Max Width Percentages */

.mw-100
  max-width 100%

/* Max Width Scale */

for size in 1...11
  .mw{size}
    max-width lookup('$max-width-' + size)

/* Max Width String Properties */

.mw-none
  max-width none

@media $breakpoint-medium
  .mw-100-m-up
    max-width 100%
  for size in 1...11
    .mw{size}-m-up
      max-width lookup('$max-width-' + size)
  .mw-none-m-up
    max-width none

@media $breakpoint-medium-only
  .mw-100-m
    max-width 100%
  for size in 1...11
    .mw{size}-m
      max-width lookup('$max-width-' + size)
  .mw-none-m
    max-width none

@media $breakpoint-large
  .mw-100-l-up
    max-width 100%
  for size in 1...11
    .mw{size}-l-up
      max-width lookup('$max-width-' + size)
  .mw-none-l-up
    max-width none
