/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/



for size in 1...8
  .na{size}
    margin 'calc(-1 * var(--spacing-%s))' % size
  .nl{size}
    margin-left 'calc(-1 * var(--spacing-%s))' % size
  .nr{size}
    margin-right 'calc(-1 * var(--spacing-%s))' % size
  .nb{size}
    margin-bottom 'calc(-1 * var(--spacing-%s))' % size
  .nt{size}
    margin-top 'calc(-1 * var(--spacing-%s))' % size

@media $breakpoint-medium
  for size in 1...8
    .na{size}-m-up
      margin 'calc(-1 * var(--spacing-%s))' % size
    .nl{size}-m-up
      margin-left 'calc(-1 * var(--spacing-%s))' % size
    .nr{size}-m-up
      margin-right 'calc(-1 * var(--spacing-%s))' % size
    .nb{size}-m-up
      margin-bottom 'calc(-1 * var(--spacing-%s))' % size
    .nt{size}-m-up
      margin-top 'calc(-1 * var(--spacing-%s))' % size
@media $breakpoint-medium-only
  for size in 1...8
    .na{size}-m
      margin 'calc(-1 * var(--spacing-%s))' % size
    .nl{size}-m
      margin-left 'calc(-1 * var(--spacing-%s))' % size
    .nr{size}-m
      margin-right 'calc(-1 * var(--spacing-%s))' % size
    .nb{size}-m
      margin-bottom 'calc(-1 * var(--spacing-%s))' % size
    .nt{size}-m
      margin-top 'calc(-1 * var(--spacing-%s))' % size

@media $breakpoint-large
  for size in 1...8
    .na{size}-l-up
      margin 'calc(-1 * var(--spacing-%s))' % size
    .nl{size}-l-up
      margin-left 'calc(-1 * var(--spacing-%s))' % size
    .nr{size}-l-up
      margin-right 'calc(-1 * var(--spacing-%s))' % size
    .nb{size}-l-up
      margin-bottom 'calc(-1 * var(--spacing-%s))' % size
    .nt{size}-l-up
      margin-top 'calc(-1 * var(--spacing-%s))' % size
