/*

   OUTLINES

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

.outline { outline: 1px solid; }
.outline-transparent { outline: 1px solid transparent; }
.outline-0 { outline: 0; }

@media $breakpoint-medium {
  .outline-m-up { outline: 1px solid; }
  .outline-transparent-m-up { outline: 1px solid transparent; }
  .outline-0-m-up { outline: 0; }
}

@media $breakpoint-medium-only {
  .outline-m { outline: 1px solid; }
  .outline-transparent-m { outline: 1px solid transparent; }
  .outline-0-m { outline: 0; }
}

@media $breakpoint-large {
  .outline-l-up{ outline: 1px solid; }
  .outline-transparent-l-up{ outline: 1px solid transparent; }
  .outline-0-l-up{ outline: 0; }
}
