/* Variables */

:root
  --spacing-none 0
  rfs(.25rem, --spacing-1)
  rfs(.375rem, --spacing-2)
  rfs(.5rem, --spacing-3)
  rfs(.75rem, --spacing-4)
  rfs(1rem, --spacing-5)
  rfs(1.5rem, --spacing-6)
  rfs(2rem, --spacing-7)
  rfs(3rem, --spacing-8)
  rfs(4rem, --spacing-9)
  rfs(6rem, --spacing-10)
  rfs(8rem, --spacing-11)
  rfs(12rem, --spacing-12)
  rfs(16rem, --spacing-13)


/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
     8 = 8th step in spacing scale
     9 = 9th step in spacing scale

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

for size in 0...10
  .pa{size}
    padding 'var(--spacing-%s)' % (size > 0 ? size : none)
  .pl{size}
    padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
  .pr{size}
    padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
  .pt{size}
    padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
  .pb{size}
    padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
  .pv{size}
    padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
  .ph{size}
    padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
  .ma{size}
    margin 'var(--spacing-%s)' % (size > 0 ? size : none)
  .ml{size}
    margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
  .mr{size}
    margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)
  .mt{size}
    margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
  .mb{size}
    margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
  .mv{size}
    margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
  .mh{size}
    margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)

@media $breakpoint-medium
  for size in 0...10
    .pa{size}-m-up
      padding 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pl{size}-m-up
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pr{size}-m-up
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pt{size}-m-up
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pb{size}-m-up
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pv{size}-m-up
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ph{size}-m-up
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ma{size}-m-up
      margin 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ml{size}-m-up
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mr{size}-m-up
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mt{size}-m-up
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mb{size}-m-up
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mv{size}-m-up
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mh{size}-m-up
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)


@media $breakpoint-medium-only
  for size in 0...10
    .pa{size}-m
      padding 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pl{size}-m
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pr{size}-m
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pt{size}-m
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pb{size}-m
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pv{size}-m
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ph{size}-m
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ma{size}-m
      margin 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ml{size}-m
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mr{size}-m
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mt{size}-m
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mb{size}-m
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mv{size}-m
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mh{size}-m
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)

@media $breakpoint-large
  for size in 0...10
    .pa{size}-l-up
      padding 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pl{size}-l-up
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pr{size}-l-up
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pt{size}-l-up
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pb{size}-l-up
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .pv{size}-l-up
      padding-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ph{size}-l-up
      padding-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      padding-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ma{size}-l-up
      margin 'var(--spacing-%s)' % (size > 0 ? size : none)
    .ml{size}-l-up
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mr{size}-l-up
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mt{size}-l-up
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mb{size}-l-up
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mv{size}-l-up
      margin-top 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-bottom 'var(--spacing-%s)' % (size > 0 ? size : none)
    .mh{size}-l-up
      margin-left 'var(--spacing-%s)' % (size > 0 ? size : none)
      margin-right 'var(--spacing-%s)' % (size > 0 ? size : none)
