/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify

  Media Query Extensions:
    -m-up = medium upwards
    -m  = medium
    -l-up = large

*/

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

@media $breakpoint-medium {
  .tl-m-up  { text-align: left; }
  .tr-m-up  { text-align: right; }
  .tc-m-up  { text-align: center; }
  .tj-m-up  { text-align: justify; }
}

@media $breakpoint-medium-only {
  .tl-m  { text-align: left; }
  .tr-m  { text-align: right; }
  .tc-m  { text-align: center; }
  .tj-m  { text-align: justify; }
}

@media $breakpoint-large {
  .tl-l-up { text-align: left; }
  .tr-l-up { text-align: right; }
  .tc-l-up { text-align: center; }
  .tj-l-up { text-align: justify; }
}

