/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@media $breakpoint-medium {
  .ttc-m-up { text-transform: capitalize; }
  .ttl-m-up { text-transform: lowercase; }
  .ttu-m-up { text-transform: uppercase; }
  .ttn-m-up { text-transform: none; }
}

@media $breakpoint-medium-only {
  .ttc-m { text-transform: capitalize; }
  .ttl-m { text-transform: lowercase; }
  .ttu-m { text-transform: uppercase; }
  .ttn-m { text-transform: none; }
}

@media $breakpoint-large {
  .ttc-l-up{ text-transform: capitalize; }
  .ttl-l-up{ text-transform: lowercase; }
  .ttu-l-up{ text-transform: uppercase; }
  .ttn-l-up{ text-transform: none; }
}
