/* Variables */

:root
  for size in -1...8
    rfs($font-size-step['' + size], ('--r-font-size-%s' % size))

/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    rf = responsive font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large
*/

/* Type scale */
/* Modular type scale + relative weights */
for size in -1...8
  .tm-rf{size}
    font-size 'var(--r-font-size-%s)' % size
    if size <= 3
      // TODO: remove once we have responsive font-weight classes
      font-weight 'var(--font-weight-n-%s)' % size
      // TODO: refactor to single variable once we have responsive letter-spacing variables
      letter-spacing 'var(--letter-spacing-n-%s)' % size
      // TODO: remove once we have responsive line-height classes
      &.tm-lh-copy
        line-height 'var(--line-height-copy-%s)' % size
    // TODO: remove once we have responsive font-weight classes
    &.tm-bold
      font-weight 'var(--font-weight-b-%s)' % size
      letter-spacing 'var(--letter-spacing-b-%s)' % size
    // TODO: remove once we have responsive line-height classes
    &.tm-lh-title
      line-height 'var(--line-height-title-%s)' % size

@media $breakpoint-medium
  for size in -1...8
    .tm-rf{size}-m-up
      font-size 'var(--r-font-size-%s)' % size

@media $breakpoint-medium-only
  for size in -1...8
    .tm-rf{size}-m
      font-size 'var(--r-font-size-%s)' % size

@media $breakpoint-large
  for size in -1...8
    .tm-rf{size}-l-up
      font-size 'var(--r-font-size-%s)' % size

@media $breakpoint-large-only
  for size in -1...8
    .tm-rf{size}-l
      font-size 'var(--r-font-size-%s)' % size

@media $breakpoint-xl
  for size in -1...8
    .tm-rf{size}-xl-up
      font-size 'var(--r-font-size-%s)' % size
