/* 

Steps: -1 ~ 11
* repeated declaractions: font-size and line-height

letter-spacing: 2 variants

Display: 5 ~ 11
Heading: -1 ~ 7
Subtitle: -1 ~ 5
Paragraph: -1 ~ 4
Overline: -1 ~ 1
Code: -1 ~ 4

usage:
.section-title
  display-10()

*/

step-11()
  font-size 7.375rem
  line-height 1.084

step-10()
  font-size 6.25rem
  line-height 1.12

step-09()
  font-size 5.125rem
  line-height 1.121

step-08()
  font-size 4.25rem
  line-height 1.176

step-07()
  font-size 3.625rem
  line-height 1.172

step-06()
  font-size 3rem
  line-height 1.166

step-05()
  font-size 2.5rem
  line-height 1.2

step-04()
  font-size 2rem
  line-height 1.25

step-03()
  font-size 1.75rem
  line-height 1.285

step-02()
  font-size 1.437rem
  line-height 1.217

step-01()
  font-size 1.1875rem
  line-height 1.263

step-00()
  font-size 1rem
  line-height 1.375

step--1()
  font-size 0.8125rem
  line-height 1.384

display-05()
  step-05()
  font-weight 900
  letter-spacing -0.01em

display-06()
  step-06()
  font-weight 900
  letter-spacing -0.015em

display-07()
  step-07()
  font-weight 900
  letter-spacing -0.02em

display-08()
  step-08()
  font-weight 900
  letter-spacing -0.02em

display-09()
  font-weight 900
  step-09()
  letter-spacing -0.025em

display-10()
  step-10()
  font-weight 900
  letter-spacing -0.03em

display-11()
  step-11()
  font-weight 900
  letter-spacing -0.035em