/*

   UTILITIES

   Media Query Extensions:
     -m-up = medium upwards
     -m  = medium
     -l-up = large

*/

/* Equivalent to .overflow-y-scroll */
.overflow-container
  overflow-y scroll

.center
  margin-right auto
  margin-left auto

.mr-auto
  margin-right auto

.ml-auto
  margin-left auto

@media $breakpoint-medium
  .center-m-up
    margin-right auto
    margin-left auto
  .mr-auto-m-up
    margin-right auto
  .ml-auto-m-up
    margin-left auto

@media $breakpoint-medium-only
  .center-m
    margin-right auto
    margin-left auto
  .mr-auto-m
    margin-right auto
  .ml-auto-m
    margin-left auto

@media $breakpoint-large
  .center-l
    margin-right auto
    margin-left auto
  .mr-auto-l
    margin-right auto
  .ml-auto-l
    margin-left auto
