/*! TACHYONS v4.12.0 | http://tachyons.io */

/*
 *
 *
 *    ___    ___/   ___   __  __    ___    ___
 *   / __|  / _/\  / __| |  \/  |  / _ \  / __|
 *  | (__  | (/) | \__ \ | |\/| | | (_) | \__ \
 *   \___|  \/__/  |___/ |_|  |_|  \___/  |___/
 *          /
 *
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Normalize.css | http://normalize.css.github.io
 *    2. Modules
 *    3. Variables
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *
 */

/* External Library Includes */
@import '../../node_modules/normalize.css/normalize.css'

/* Modules */
@import '_base'
@import '_type-scale'
@import '_box-sizing'
@import '_images'
@import '_box-shadow'
@import '_container'
@import '_font-family'
@import '_font-weight'
@import '_forms'
@import '_letter-spacing'
@import '_line-height'
@import '_links'
@import '_spacing'
@import '_typography'
/* Importing here will allow you to override any variables in the modules */
@import '_colors'

/* Debugging */
/* Uncomment out the line below to help debug layout issues */
/* @import '_debug' */
